.seccionCanchas{
  background-color: #1E1E1E;
  background-image: radial-gradient(#345e37 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  color:white;
}
.sideBar{
  border-radius: 0 15px 15px 0;
  background-color: #363636;
}
/* @media (max-width:993px) {
  .sideBar{
    height: 200px;
  }
} */