:root {
  --primary-color: #454545;
  --secondary-color: #a8adb3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #FFFFFF; 
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}

input[type="radio"]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}

input[id="footballFields"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="users"]:checked ~ .glider {
  transform: translateX(100%);
}

input[id="reservations"]:checked ~ .glider {
  transform: translateX(200%);
}
input[id="products"]:checked ~ .glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: #61bc84;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}
@media (width<=420px) {
  .tabs {
    transform: scale(0.35,0.7)
  }
}
@media (420px<width<=720px) {
  .tabs {
    transform: scale(0.5,0.8)
  }
}
@media (720px<width<=823px) {
  .tabs {
    transform: scale(0.8)
  }
}