.infoSection{
  background-color: #1E1E1E;
  background-image: radial-gradient(#345e37 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  align-items: center;
}
.infoSection li {
  font-size: 1.2em;
  font-weight: 500;
  color: #1E1E1E;
}
.infoSection li strong{
  color: #61bc84;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
}
.button {
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  background-color: #1E1E1E;
  border: solid 2px white;
}
.infoSection h1, h3 {
  color: #61bc84;
  -webkit-text-stroke: 1px white;
}

