:root {

    --color-1: #2E8B57;
    --color-2: #61bc84;
    --color-3: #c6ffe6;
    --color-4: #8FBC8F;
    --color-5: #345e37;

    --color-1: #1E1E1E;
    --color-1-fuerte: #2d2d2d;
    --color-1-fuerte-2: #454545;

    --color-2: #FFFFFF;
    --color-2-oscuro-fuerte: #e0e0e0;

    }